<p style="font-family:Verdana; font-size: 26px; color: orange"> Creating an Empty DataFrame</p>

In [2]:
import pandas as pd

df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

<p style="font-family:Verdana; font-size: 22px; color: orange"> Creating a DataFrame from a List</p>

In [4]:
lst = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']

df = pd.DataFrame(lst)
df

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

<p style="font-family:Verdana; font-size: 22px; color: orange"> Creating DataFrame from dict of Numpy Array</p>

In [5]:
import numpy as np

data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

<p style="font-family:Verdana; font-size: 22px; color: orange"> Creating a DataFrame from a List of Dictionaries</p>

In [6]:
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}

df = pd.DataFrame(dict)

print(df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98