<p style="font-family:Verdana; font-size: 26px; color: orange"> Pandas Access DataFrame</p>

In [1]:
import pandas as pd
import numpy as np

<p style="font-family:Verdana; font-size: 22px; color: orange"> 1. Accessing and Modifying the Index</p>

In [2]:
data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'], 
        'Age': [25, 30, 22, 35, 28], 
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'], 
        'Salary': [50000, 55000, 40000, 70000, 48000]}

df = pd.DataFrame(data)
# Display the entire DataFrame
print(df)

      Name  Age  Gender  Salary
0     John   25    Male   50000
1    Alice   30  Female   55000
2      Bob   22    Male   40000
3      Eve   35  Female   70000
4  Charlie   28    Male   48000

<p style="font-family:Verdana; font-size: 22px; color: orange"> 1. Accessing Columns From DataFrame</p>

In [4]:
# Access the 'Age' column
age_column = df['Gender']
print(age_column)

0      Male
1    Female
2      Male
3    Female
4      Male
Name: Gender, dtype: object

<p style="font-family:Verdana; font-size: 22px; color: orange"> 2. Accessing Rows by Index</p>

In [5]:
# Access the row at index 1 (second row)
second_row = df.iloc[1]
print(second_row)

Name       Alice
Age           30
Gender    Female
Salary     55000
Name: 1, dtype: object

<p style="font-family:Verdana; font-size: 22px; color: orange"> 3. Accessing Multiple Rows or Columns</p>

In [6]:
# Access the first three rows and the 'Name' and 'Age' columns
subset = df.loc[0:2, ['Name', 'Age']]
print(subset)

    Name  Age
0   John   25
1  Alice   30
2    Bob   22

<p style="font-family:Verdana; font-size: 22px; color: orange"> 4. Accessing Rows Based on Conditions</p>

In [7]:
# Access rows where 'Age' is greater than 25
filtered_data = df[df['Age'] > 25]
print(filtered_data)

      Name  Age  Gender  Salary
1    Alice   30  Female   55000
3      Eve   35  Female   70000
4  Charlie   28    Male   48000

<p style="font-family:Verdana; font-size: 22px; color: orange"> 5. Accessing Specific Cells with at and iat</p>

In [9]:
# Access the 'Salary' of the row with label 2
salary_at_index_2 = df.at[1, 'Salary']
print(salary_at_index_2)

55000