<p style="font-family:Verdana; font-size: 26px; color: orange"> Slicing Pandas Dataframe</p>

In [1]:
import pandas as pd
import numpy as np

<p style="font-family:Verdana; font-size: 22px; color: orange"> Create a Custom Dataframe</p>

In [2]:
player_list = [['M.S.Dhoni', 36, 75, 5428000],
               ['A.B.D Villers', 38, 74, 3428000],
               ['V.Kohli', 31, 70, 8428000],
               ['S.Smith', 34, 80, 4428000],
               ['C.Gayle', 40, 100, 4528000],
               ['J.Root', 33, 72, 7028000],
               ['K.Peterson', 42, 85, 2528000]]

df = pd.DataFrame(player_list, columns=['Name', 'Age', 'Weight', 'Salary'])
print(df)

            Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
2        V.Kohli   31      70  8428000
3        S.Smith   34      80  4428000
4        C.Gayle   40     100  4528000
5         J.Root   33      72  7028000
6     K.Peterson   42      85  2528000

<p style="font-family:Verdana; font-size: 22px; color: orange"> Slicing Using iloc[] (Integer-Based Indexing)</p>

In [3]:
# The iloc[] method in Pandas allows us to extract specific rows and columns 
# based on their integer positions starting from 0.

> Slicing Rows in dataframe

In [4]:
df1 = df.iloc[0:4]
print(df1)

            Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
2        V.Kohli   31      70  8428000
3        S.Smith   34      80  4428000

>> Slicing Columns in dataframe

In [5]:
df1 = df.iloc[:, 0:2]

print(df1)

            Name  Age
0      M.S.Dhoni   36
1  A.B.D Villers   38
2        V.Kohli   31
3        S.Smith   34
4        C.Gayle   40
5         J.Root   33
6     K.Peterson   42

>>> Selecting a Specific Cell in a Pandas DataFrame

In [6]:
value = df.iloc[2, 3]  
print("Specific Cell Value:", value)

Specific Cell Value: 8428000

>>>> Using Boolean Conditions in a Pandas DataFrame

In [7]:
data = df[df['Age'] > 35].iloc[:, :] 
print("\nFiltered Data based on Age > 35:\n", data)

Filtered Data based on Age > 35:
             Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
4        C.Gayle   40     100  4528000
6     K.Peterson   42      85  2528000

<p style="font-family:Verdana; font-size: 22px; color: orange"> Slicing Using loc[]</p>

> Slicing Rows in Dataframe

In [8]:
df.set_index('Name', inplace=True)

custom = df.loc['A.B.D Villers':'S.Smith']
print(custom)

               Age  Weight   Salary
Name
A.B.D Villers   38      74  3428000
V.Kohli         31      70  8428000
S.Smith         34      80  4428000

>> Selecting Specified cell in Dataframe

In [9]:
value = df.loc['V.Kohli', 'Salary']
print("\nValue of the Specific Cell (V.Kohli, Salary):", value)

Value of the Specific Cell (V.Kohli, Salary): 8428000