<p style="font-family:Verdana; font-size: 26px; color: orange"> How to Create a Pivot Table in Python using Pandas?</p>

In [1]:
import pandas as pd
import numpy as np

<p style="font-family:Verdana; font-size: 22px; color: orange">Creating a Sample DataFrame</p>

In [3]:
# creating dataframe
df = pd.DataFrame({'Product': ['Carrots', 'Broccoli', 'Banana', 'Banana',
                               'Beans', 'Orange', 'Broccoli', 'Banana'],
                   'Category': ['Vegetable', 'Vegetable', 'Fruit', 'Fruit',
                                'Vegetable', 'Fruit', 'Vegetable', 'Fruit'],
                   'Quantity': [8, 5, 3, 4, 5, 9, 11, 8],
                   'Amount': [270, 239, 617, 384, 626, 610, 62, 90]})
df

    Product   Category  Quantity  Amount
0   Carrots  Vegetable         8     270
1  Broccoli  Vegetable         5     239
2    Banana      Fruit         3     617
3    Banana      Fruit         4     384
4     Beans  Vegetable         5     626
5    Orange      Fruit         9     610
6  Broccoli  Vegetable        11      62
7    Banana      Fruit         8      90

> A pivot table is a statistical table that summarizes a substantial table like a big dataset.

<p style="font-family:Verdana; font-size: 22px; color: orange">Example 1: Get the Total Sales of Each Product</p>

In [4]:
pivot = df.pivot_table(index=['Product'],
                       values=['Amount'],
                       aggfunc='sum')
print(pivot)

          Amount
Product
Banana      1091
Beans        626
Broccoli     301
Carrots      270
Orange       610

<p style="font-family:Verdana; font-size: 22px; color: orange">Example 2: Get the Total Sales of Each Category</p>

In [ ]:
# In this example, a pivot table is created from the DataFrame 'df' to summarize the total 'Amount' sales 
# for each unique 'Category', 
# employing the 'sum' aggregation function.
# creating pivot table of total
# sales category-wise aggfunc = 'sum'
pivot = df.pivot_table(index=['Category'],
                       values=['Amount'],
                       aggfunc='sum')
print(pivot)

           Amount
Category
Fruit        1701
Vegetable    1197

<p style="font-family:Verdana; font-size: 22px; color: orange">Example 3: Get Total Sales by Category and Product Both</p>

In [6]:
# In this example, a pivot table is generated from the DataFrame 'df' to showcase the total 'Amount' sales 
# for unique combinations of 'Product' and 'Category',
# utilizing the 'sum' aggregation function. 
pivot = df.pivot_table(index=['Product', 'Category'],
                       values=['Amount'], aggfunc='sum')
print(pivot)

                    Amount
Product  Category
Banana   Fruit        1091
Beans    Vegetable     626
Broccoli Vegetable     301
Carrots  Vegetable     270
Orange   Fruit         610

<p style="font-family:Verdana; font-size: 22px; color: orange">Example 4: Get the Mean, Median, Minimum Sale by Category</p>

In [7]:
# In this example, a pivot table is created from the DataFrame 'df' 
# to display the median, mean, and minimum 'Amount' values categorized by 'Category.' 
# The aggregation functions 'median,' 'mean,' and 'min' are applied
# 'mean', 'min'} will get median, mean and
# minimum of sales respectively
pivot = df.pivot_table(index=['Category'], values=['Amount'],
                       aggfunc={'median', 'mean', 'min'})
print(pivot)

           Amount
             mean median min
Category
Fruit      425.25  497.0  90
Vegetable  299.25  254.5  62

<p style="font-family:Verdana; font-size: 22px; color: orange">Example 5: Get the Mean, Median, Minimum Sale by Product</p>

In [9]:
# In this example, a pivot table is generated from the DataFrame 'df' 
# to showcase the median, mean, and minimum 'Amount' values for each unique 'Product.' 
# The aggregation functions 'median,' 'mean,' and 'min' are applied
pivot = df.pivot_table(index=['Product'], values=['Amount'],
                       aggfunc={'median', 'mean', 'min'})
print(pivot)

              Amount
                mean median  min
Product
Banana    363.666667  384.0   90
Beans     626.000000  626.0  626
Broccoli  150.500000  150.5   62
Carrots   270.000000  270.0  270
Orange    610.000000  610.0  610