<p style="font-family:Verdana; font-size: 26px; color: orange"> Pandas Change Datatype</p>

In [1]:
import pandas as pd

df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

<p style="font-family:Verdana; font-size: 22px; color: orange"> Using astype() method</p>

In [2]:
data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'], 
        'Age': [25, 30, 22, 35, 28], 
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'], 
        'Salary': [50000, 55000, 40000, 70000, 48000]}

df = pd.DataFrame(data)

# Convert 'Age' column to float type
df['Age'] = df['Age'].astype(float)

print(df.dtypes)

Name       object
Age       float64
Gender     object
Salary      int64
dtype: object

<p style="font-family:Verdana; font-size: 22px; color: orange"> Converting a Column to a DateTime Type</p>

In [3]:
# Example: Create a 'Join Date' column as a string
df['Join Date'] = ['2025-01-01', '2023-05-22', '2022-03-15', '2025-07-30', '2023-11-11']

# Convert 'Join Date' to datetime type
df['Join Date'] = pd.to_datetime(df['Join Date'])
print(df.dtypes)

Name                 object
Age                 float64
Gender               object
Salary                int64
Join Date    datetime64[ns]
dtype: object

<p style="font-family:Verdana; font-size: 22px; color: orange"> Changing Multiple Columns' Data Types</p>

In [4]:
# Convert 'Age' to float and 'Salary' to string
df = df.astype({'Age': 'float64', 'Salary': 'str'})
print(df.dtypes)

Name                 object
Age                 float64
Gender               object
Salary               object
Join Date    datetime64[ns]
dtype: object