<p style="font-family:Verdana; font-size: 26px; color: orange"> Drop Empty Columns in Pandas</p>

In [3]:
import pandas as pd
import numpy as np


df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

<p style="font-family:Verdana; font-size: 22px; color: orange"> The dropna() function is a powerful method in Pandas that allows us to remove rows or columns containing missing values (NaN). </p>

In [4]:
df = pd.DataFrame({'FirstName': ['Vipul', 'Ashish', 'Milan'],
                            "Gender": ["", "", ""],
                            "Age": [0, 0, 0]})
df['Department'] = np.nan

print(df)

  FirstName Gender  Age  Department
0     Vipul           0         NaN
1    Ashish           0         NaN
2     Milan           0         NaN

> Example 1: Remove All Null Value Columns
>> This method removes columns where all values are NaN.

In [7]:
before = pd.DataFrame({'FirstName': ['Vipul', 'Ashish', 'Milan'],
                            "Gender": ["", "", ""],
                            "Age": [0, 0, 0]})

before['Department'] = np.nan

display(before)

after = before.dropna(how='all', axis=1, inplace=True)

print(before, "\n\n\n", after)

  FirstName Gender  Age  Department
0     Vipul           0         NaN
1    Ashish           0         NaN
2     Milan           0         NaN

  FirstName Gender  Age
0     Vipul           0
1    Ashish           0
2     Milan           0


 None

> Example 2: Replace Empty Strings with Null and Drop Null Columns

In [8]:
before = pd.DataFrame({'FirstName': ['Vipul', 'Ashish', 'Milan'],
                            "Gender": ["", "", ""],
                            "Age": [0, 0, 0]})

before['Department'] = np.nan
display(before)

nan_value = float("NaN")
before.replace("", nan_value, inplace=True)

after = before.dropna(how='all', axis=1, inplace=True)

print(before, "\n\n\n", after)

  FirstName Gender  Age  Department
0     Vipul           0         NaN
1    Ashish           0         NaN
2     Milan           0         NaN

  FirstName  Age
0     Vipul    0
1    Ashish    0
2     Milan    0


 None

C:\Users\38067\AppData\Local\Temp\ipykernel_11424\1749476037.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  before.replace("", nan_value, inplace=True)

> Example 3: Replace Zeros with Null and Drop Null Columns

In [9]:
# If columns contain only zero values, we convert them to NaN before dropping them.
before = pd.DataFrame({'FirstName': ['Vipul', 'Ashish', 'Milan'],
                            "Gender": ["", "", ""],
                            "Age": [0, 0, 0]})

before['Department'] = np.nan
display(before)

nan_value = float("NaN")
before.replace(0, nan_value, inplace=True)

after = before.dropna(how='all', axis=1, inplace=True)

print(before, "\n\n\n", after)

  FirstName Gender  Age  Department
0     Vipul           0         NaN
1    Ashish           0         NaN
2     Milan           0         NaN

  FirstName Gender
0     Vipul
1    Ashish
2     Milan


 None

> Example 4: Replace Both Zeros and Empty Strings with Null and Drop Null Columns

In [10]:
# To clean a dataset fully we may need to replace both zeros and empty strings.
before = pd.DataFrame({'FirstName': ['Vipul', 'Ashish', 'Milan'],
                            "Gender": ["", "", ""],
                            "Age": [0, 0, 0]})

before['Department'] = np.nan
display(before)

nan_value = float("NaN")
before.replace(0, nan_value, inplace=True)
before.replace("", nan_value, inplace=True)

after = before.dropna(how='all', axis=1, inplace=True)

print(before, "\n\n\n", after)

  FirstName Gender  Age  Department
0     Vipul           0         NaN
1    Ashish           0         NaN
2     Milan           0         NaN

  FirstName
0     Vipul
1    Ashish
2     Milan


 None

C:\Users\38067\AppData\Local\Temp\ipykernel_11424\2036519911.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  before.replace("", nan_value, inplace=True)