<p style="font-family:Verdana; font-size: 26px; color: orange"> String manipulations in Pandas DataFrame</p>

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

<p style="font-family:Verdana; font-size: 22px; color: orange"> Create a String Dataframe using Pandas</p>

In [4]:

data = {'Names': ['Gulshan', 'Shashank', 'Bablu', 'Abhishek', 'Anand', np.nan, 'Pratap'],
        'City': ['Delhi', 'Mumbai', 'Kolkata', 'Delhi', 'Chennai', 'Bangalore', 'Hyderabad']}

df = pd.DataFrame(data)
print(df)

      Names       City
0   Gulshan      Delhi
1  Shashank     Mumbai
2     Bablu    Kolkata
3  Abhishek      Delhi
4     Anand    Chennai
5       NaN  Bangalore
6    Pratap  Hyderabad

<p style="font-family:Verdana; font-size: 22px; color: orange"> Change Column Datatype in Pandas</p>

In [5]:
print(df.astype('string'))

      Names       City
0   Gulshan      Delhi
1  Shashank     Mumbai
2     Bablu    Kolkata
3  Abhishek      Delhi
4     Anand    Chennai
5      <NA>  Bangalore
6    Pratap  Hyderabad

<p style="font-family:Verdana; font-size: 22px; color: orange"> String Manipulations in Pandas</p>

In [6]:
data = {'Names': ['Gulshan', 'Shashank', 'Bablu', 'Abhishek', 'Anand', np.nan, 'Pratap'],
        'City': ['Delhi', 'Mumbai', 'Kolkata', 'Delhi', 'Chennai', 'Bangalore', 'Hyderabad']}

df = pd.DataFrame(data)
print(df)

      Names       City
0   Gulshan      Delhi
1  Shashank     Mumbai
2     Bablu    Kolkata
3  Abhishek      Delhi
4     Anand    Chennai
5       NaN  Bangalore
6    Pratap  Hyderabad

In [7]:
print(df['Names'].str.lower())

0     gulshan
1    shashank
2       bablu
3    abhishek
4       anand
5         NaN
6      pratap
Name: Names, dtype: object

In [8]:
print(df['Names'].str.upper())

0     GULSHAN
1    SHASHANK
2       BABLU
3    ABHISHEK
4       ANAND
5         NaN
6      PRATAP
Name: Names, dtype: object

In [10]:
# strip(): If there are spaces at the beginning or end of a string, 
# we should trim the strings to eliminate spaces using strip() or remove the extra spaces 
print(df['Names'].str.strip())

0     Gulshan
1    Shashank
2       Bablu
3    Abhishek
4       Anand
5         NaN
6      Pratap
Name: Names, dtype: object

In [11]:
# split(' '): Splits each string with the given pattern.
df['Split_Names'] = df['Names'].str.split('a')
print(df[['Names', 'Split_Names']])

      Names   Split_Names
0   Gulshan    [Gulsh, n]
1  Shashank  [Sh, sh, nk]
2     Bablu      [B, blu]
3  Abhishek    [Abhishek]
4     Anand      [An, nd]
5       NaN           NaN
6    Pratap    [Pr, t, p]

In [12]:
# len(): With the help of len() we can compute the length of each string in DataFrame 
# & if there is empty data in DataFrame, it returns NaN.
print(df['Names'].str.len())

0    7.0
1    8.0
2    5.0
3    8.0
4    5.0
5    NaN
6    6.0
Name: Names, dtype: float64

In [13]:
# get_dummies(): It returns the DataFrame with One-Hot Encoded values like we can see that it returns boolean value 1
# if it exists in relative index or 0 if not exists.
print(df['City'].str.get_dummies())

   Bangalore  Chennai  Delhi  Hyderabad  Kolkata  Mumbai
0          0        0      1          0        0       0
1          0        0      0          0        0       1
2          0        0      0          0        1       0
3          0        0      1          0        0       0
4          0        1      0          0        0       0
5          1        0      0          0        0       0
6          0        0      0          1        0       0

In [14]:
# startswith(pattern): It returns true if the element or string in the DataFrame Index starts with the pattern.
print(df['Names'].str.startswith('G'))

0     True
1    False
2    False
3    False
4    False
5      NaN
6    False
Name: Names, dtype: object

In [15]:
# endswith(pattern): It returns true if the element or string in the DataFrame Index ends with the pattern.
print(df['Names'].str.endswith('h'))

0    False
1    False
2    False
3    False
4    False
5      NaN
6    False
Name: Names, dtype: object

In [16]:
# Python replace(a,b): It replaces the value a with the value b like below in example 'Gulshan' is being replaced by 'Gaurav'.
print(df['Names'].str.replace('Gulshan', 'Gaurav'))

0      Gaurav
1    Shashank
2       Bablu
3    Abhishek
4       Anand
5         NaN
6      Pratap
Name: Names, dtype: object

In [17]:
# Python find(pattern): It returns the first position of the first occurrence of the pattern. 
print(df['Names'].str.find('a'))

0    5.0
1    2.0
2    1.0
3   -1.0
4    2.0
5    NaN
6    2.0
Name: Names, dtype: float64

In [18]:
print(df['Names'].str.findall('a'))

0       [a]
1    [a, a]
2       [a]
3        []
4       [a]
5       NaN
6    [a, a]
Name: Names, dtype: object

In [19]:
# isnumeric(): It checks whether all characters in each string in the Index of the Data-Frame are numeric or not, 
# and returns a Boolean value.
print(df['Names'].str.isnumeric())

0    False
1    False
2    False
3    False
4    False
5      NaN
6    False
Name: Names, dtype: object

In [20]:
# swapcase(): It swaps the case lower to upper and vice-versa.
print(df['Names'].str.swapcase())

0     gULSHAN
1    sHASHANK
2       bABLU
3    aBHISHEK
4       aNAND
5         NaN
6      pRATAP
Name: Names, dtype: object